.container {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-gap: 10px;
}

h2 {
    margin: 0 0 5px 0;
    font-size: 50px;
    border-bottom: 10px solid var(--navy);
}

.item {
    background-color: var(--navy);
}