.container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 50px);
    grid-template-areas: 
        "output output output output"
        "1      2       3     plus"
        "4      5       6     min"
        "7      8       9     mul"
        "clear  nul     is    div"
}

button {
    background-color: var(--navy);
    display: block;
    width: 100%;
    height: 100%;
}

.item0 {
    grid-area: output;
    grid-column: span 4;
}

.item10 {
    grid-area: nul;
}

.item11 {
    grid-area: plus;
}

.item12 {
    grid-area: min;
}

.item13 {
    grid-area: mul;
}

.item14 {
    grid-area: div;
}

.item15 {
    grid-area: clear;
}

.item16 {
    grid-area: is;
}